.small-button-wrapper .ant-btn {
  background: #2196f3;
  padding: 4px, 8px, 4px, 8px;
  border-radius: 4px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.small-button-wrapper {
  cursor: initial;
}
