.credit-tags-wrapper {
  background-color: #eff2ff;
  color: #0f0e98;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  text-transform: none;
  height: 24px;
  align-items: center;
  padding: 4px 8px 4px 4px;
  width: fit-content;
}
