.login-wrapper {
  height: 100%;
  width: 100%;
}

.login-wrapper .login-header {
  height: auto;
}

.login-wrapper .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.login-wrapper .login-content .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-wrapper .login-content .login-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.login-wrapper .login-content .login-form {
  max-width: 438px;
}

