.ant-tabs-tab-btn {
  padding: 4px 8px;
  border-radius: 4px;
  background: #e8e8e8;
  color: #222732;
}
.ant-tabs-card.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
  padding: 4px;
  background: #e8e8e8;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  border-radius: 4px 4px 0px 0px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  background: #ffffff;
  color: #222732;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: 0;
}

.bilingual-child-wrapper {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
}

.bilingual-child-wrapper .literal-badge {
  position: absolute;
  top: 10px;
  right: 0;
  color: red;
}

.bilingual-child-wrapper .literal-badge .tags-wrapper {
  height: 24px;
  padding: 4px 8px 4px 8px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #1b3de6;
  color: #0f0e98;
  text-transform: capitalize;
}

@media screen and (max-width: 480px) {
  .bilingual-input-tab .ant-input-lg {
    font-size: 12px;
  }

  .bilingual-input-tab .ant-tabs-card.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
    font-size: 10px;
  }
}
