.tree-select-dropdown-wrapper {
  filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.2));
  width: 100%;
  border: 1px solid #b6c1c9;
  border-radius: 4px;
  padding: 8px;
}

.tree-select-dropdown-wrapper .ant-select-tree {
  font-weight: 400;
  font-size: 16px;
}

.tree-select-dropdown-wrapper .ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: #eff2ff;
  color: #0f0e98;
}
