.custom-common-modal-container-wrapper .custom-common-modal-container .ant-modal-content {
  filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.2));
  border-radius: 8px;
}

.custom-common-modal-container .ant-modal-content .ant-modal-header {
  border-radius: 8px 8px 0 0;
}
.custom-common-modal-container .ant-modal-content .ant-modal-footer {
  border-radius: 0 0 8px 8px;
}
