.selection-item-wrapper .button-container .ant-btn {
  color: #ce1111;
  display: flex;
  padding: 8px 12px !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--content-alert-error-darker, #ce1111);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  border-radius: 4px;
  height: auto;
  border: 1px solid var(--content-alert-error, #f43131);
  background: var(--background-neutrals-transparent, rgba(255, 255, 255, 0));
}

.selection-item-wrapper .ant-list-item-action {
  margin-left: 8px;
}

.selection-item-wrapper .filter-buttons {
  border-radius: 4px;
  background: var(--background-highlight-medium, #e3e8ff);
  color: #0f0e98;
  color: var(--content-action-darker, #0f0e98);
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.selection-item-wrapper .filter-buttons .ant-btn > .anticon + span {
  margin-left: 0;
}

.calender-card-item .ant-dropdown-trigger {
  gap: 0;
}

.calender-card-item {
  display: flex;
  align-items: center;
}

.calender-card-item .selection-item-list-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.calender-card-item .role-added-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(--content-alert-informative, #2196f3);
  color: #ffffff;
  font-size: 12px;
}
