.add-user-wrapper .calendar-search .selection-item-wrapper .button-container {
  border-radius: 4px;
  border: 1px solid var(--content-alert-error, #f43131);
  background: var(--background-neutrals-transparent, rgba(255, 255, 255, 0));
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.add-user-wrapper .calendar-search .selection-item-wrapper .button-container .ant-btn {
  color: #ce1111;
  height: fit-content;
}

.add-user-wrapper .calendar-search .selection-item-wrapper .ant-list-item-action {
  margin-left: 8px;
}

.add-user-wrapper .calendar-search .selection-item-wrapper .filter-buttons {
  border-radius: 4px;
  background: var(--background-highlight-medium, #e3e8ff);
  color: #0f0e98;
  color: var(--content-action-darker, #0f0e98);
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.add-user-wrapper .calendar-search .selection-item-wrapper .filter-buttons .ant-btn > .anticon + span {
  margin-left: 0;
}

.add-user-wrapper .calendar-search .ant-dropdown-trigger {
  gap: 0;
}

.add-user-wrapper .calendar-search .calender-card-item {
  display: flex;
  align-items: center;
}

.add-user-wrapper .calender-card-item .selection-item-list-wrapper {
  width: 100%;
}

.add-user-wrapper .calendar-search .calender-card-item .role-added-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(--content-alert-informative, #2196f3);
  color: #ffffff;
  font-size: 14px;
}
