.read-only-wrapper .button-container .ant-btn {
  width: 60px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 2px;
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #607efc, #607efc);
  color: #1b3de6;
  border: 2px solid #607efc;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: grid;
  place-content: center;
}
