.organization-read-only .read-only-detail-heading {
  font-size: 24px;
}

.organization-read-only .ant-select-arrow {
  display: none;
}

.organization-read-only .associated-with-section .associated-with-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.organization-read-only .associated-with-section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #222732;
  margin-bottom: 24px;
}

.organization-read-only .associated-with-section .associated-with-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.organization-read-only .events-content {
  flex-wrap: wrap-reverse;
  gap: 24px;
  padding: 16px 0px;
}

.organization-read-only .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  padding-left: 0px;
}

.organization-read-only .artsdata-link-wrapper {
  margin-left: 0px;
  padding: 0 16px !important;
}

.organization-read-only .artsdata-link-wrapper .ant-btn {
  margin-left: 0px;
}

@media only screen and (min-width: 900px) {
  .organization-read-only .responsive-view-control-class {
    flex: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .organization-read-only .read-only-event-heading h4 {
    font-size: 24px;
  }

  .organization-read-only .read-only-event-content {
    font-size: 12px;
  }

  .read-only-event-content .organization-read-only .read-only-detail-heading {
    font-size: 20px;
  }

  .organization-read-only .read-only-event-content-sub-title-primary {
    font-size: 12px;
    font-weight: 700;
  }

  .organization-read-only .url-links {
    font-size: 12px;
  }

  .organization-read-only .tags-wrapper {
    font-size: 10px;
  }

  .read-only-wrapper .read-only-event-content-sub-title-primary {
    font-size: 12px;
  }

  .read-only-wrapper .read-only-event-content-sub-title-secondary {
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  .organization-read-only .selection-item-wrapper {
    width: auto !important;
  }
}
