.events-wrapper .listing-sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  padding-top: 34px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 767px) {
  .events-wrapper .listing-sticky-header {
    padding-top: 0;
  }
}
