.search-bar-organization .event-popover .ant-popover-arrow {
  display: none;
}

.search-bar-organization .event-popover {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.search-bar-organization .ant-popover-inner {
  filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.2));
}

.search-bar-organization .event-popover .ant-popover-inner-content {
  padding: 0px;
}

.search-bar-organization .ant-popover-inner-content .search-scrollable-content {
  max-height: 350px;
  overflow-y: scroll;
  padding: 0px 16px 0 8px;
}
