.custom-table {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.custom-table .ant-table-wrapper {
  flex: 1;
}

.custom-table .ant-table .ant-table-row:hover {
  background-color: #eff2ff;
}

.custom-table .ant-table-tbody .ant-table-cell > div:hover {
  cursor: text;
}

.custom-table .ant-table-tbody .ant-table-cell > div {
  width: fit-content;
  display: flex;
}

.custom-table .ant-table-tbody .ant-table-cell > div .icon-container {
  padding: 0px 8px;
  margin-left: -12px;
}

.custom-table .outlined-button {
  display: flex;
  color: var(--content-action-default, #1b3de6);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  flex-direction: row-reverse;
  padding: 4px 4px;
  width: fit-content;
  margin-top: 20px;
}

.custom-table .outlined-button .outlined-label {
  font-size: 12px;
}
