.quick-create-place-modal-title {
  font-weight: 700;
  font-size: 20px;
}

.quick-create-place-modal-wrapper .ant-form-item-label > label,
.quick-create-place-modal-wrapper .quick-create-place-modal-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #222732;
}

.quick-create-place-modal-wrapper .quick-create-place-modal-label::after {
  display: inline-block;
  margin-left: 4px;
  color: #f43131;
  font-size: 14px;
  font-family: 'Roboto';
  line-height: 1;
  content: '*';
}

.quick-create-place-modal-wrapper .title-required:after {
  margin-left: 4px;
  content: '*';
  color: #f43131;
}

.quick-create-place-modal-wrapper .quick-create-place-modal-sub-heading {
  font-weight: 400;
  font-size: 16px;
  color: #646d7b;
}

.quick-create-place-modal-wrapper .ant-dropdown-menu-item-selected {
  color: #0f0e98;
  background-color: #eff2ff;
}

.quick-create-place-modal-wrapper
  .ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #f43131;
  font-size: 14px;
  font-family: 'Roboto';
  line-height: 1;
  content: '*';
}

.quick-create-place-modal-wrapper
  .ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.quick-create-place-modal-wrapper .ant-popover-inner {
  filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.2));
}
.quick-create-place-modal-wrapper .event-popover .ant-popover-inner-content {
  padding: 0px;
}
.quick-create-place-modal-wrapper .ant-popover-inner-content .search-scrollable-content {
  max-height: 350px;
  overflow-y: scroll;
  padding: 12px;
}

.quick-create-place-modal-wrapper .event-popover {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.quick-create-place-modal-wrapper .event-popover .ant-popover-arrow {
  display: none;
}
.quick-create-place-modal-wrapper .event-popover-options {
  cursor: pointer;
}

.quick-create-place-modal-wrapper .event-popover-options:focus > .selection-item-wrapper {
  background: #eff2ff;
}

.quick-create-place-modal-wrapper .event-popover-options:focus-visible,
.quick-create-place-modal-wrapper .event-popover-options:focus > .selection-item-wrapper:focus-visible {
  outline: none;
}

/* .quick-create-place-modal-wrapper .event-popover-options .selection-item-wrapper:focus-visible {
  outline: none;
}

.quick-create-place-modal-wrapper .event-popover-options:focus-visible {
  outline: none;
} */

.quick-create-place-modal-wrapper .recurring-day-buttons {
  background-color: #f9faff;
  border: 1px solid #b6c1c9;
  border-radius: 4px;
  color: #222732;
  font-weight: 600;
  font-size: 12px;
}

.quick-create-place-modal-wrapper .event-popover-options:hover,
.quick-create-place-modal-wrapper .event-popover-options-active {
  background: #eff2ff;
}

.event-popover-options-active-hover > .selection-item-wrapper {
  background: #eff2ff;
}

.quick-create-place-modal-wrapper .quick-create {
  background-color: #eff2ff;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #1b3de6;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  padding: 12px;
}

.quick-create-place-modal-wrapper .popover-section-header {
  padding: 6px 16px 4px 8px;
  font-weight: 700;
  color: #646d7b;
}
.quick-create-place-modal-wrapper .text-editor {
  width: 100%;
}
