.event-list-wrapper .event-list-more-icon {
  font-size: 24px;
  cursor: pointer;
}

.event-list-wrapper .event-list-item-wrapper {
  border-bottom: none;
}
.event-list-wrapper .event-list-image-wrapper {
  position: relative;
  height: 104px;
  /* min-height: 104px; */
  /* width: 104px; */
}
.event-list-wrapper .event-list-image {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 4px;
}
.event-list-wrapper .event-list-title {
  display: flex;
  align-items: center;
}
.event-list-wrapper .event-list-title-heading {
  font-weight: 600;
  font-size: 12px;
  color: #222732;
  white-space: nowrap;
}
.event-list-wrapper .event-list-description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 4px;
}

.event-list-wrapper .event-list-description-name {
  font-weight: 700;
  color: #222732;
}
.event-list-wrapper .event-list-description-place {
  font-weight: 400;
  color: #646d7b;
  width: max-content;
}

.event-list-wrapper .event-list-status {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: #646d7b;
}
.event-list-wrapper .event-status-list-item {
  text-align: right;
}

.event-list-item-wrapper .event-list-options-responsive {
  display: none;
}

.event-list-wrapper .event-list-item-meta {
  display: flex;
  align-items: center;
}
.event-list-wrapper ul li {
  cursor: pointer;
}

.event-list-wrapper .event-list-item-meta .ant-list-item-meta-content {
  max-width: 341px;
}

.event-list-wrapper .event-status-list-item-title-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.event-list-wrapper .event-status-list-item-title-container .artsdata-link-outlined-icon {
  background-color: #e3e8ff;
  color: #0f0e98;
  min-height: 32px;
  font-size: 12px;
  font-weight: 600;
  width: 24px;
  padding: 4px;
  border-radius: 4px;
  display: grid;
  place-content: center;
}

.event-list-wrapper .event-list-item-meta .image-featured-badge {
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 32.04px;
  height: 32.04px;
  background-color: #1b3de6;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.event-list-wrapper .event-list-description-name-container {
  display: flex;
  gap: 8px;
}

@media only screen and (max-width: 1024px) {
  /* .event-list-wrapper {
    width: 592px;
  } */
  /* .event-list-wrapper .event-list-status-updated-by {
    margin-left: auto;
  } */

  .event-list-wrapper .event-list-title-heading {
    white-space: nowrap;
  }

  .event-list-wrapper .event-list-description-place {
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .event-list-wrapper {
    width: calc(100% - 16px);
  }

  .event-list-wrapper .ant-list-item-meta-avatar {
    display: none;
  }
  /* .event-list-wrapper .event-status-list-item {
    text-align: left;
  }
  .event-list-wrapper .event-list-status-updated-by {
    width: initial;
    margin-left: initial;
  } */

  .event-list-wrapper .event-list-item-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .event-list-item-wrapper .event-list-options-responsive {
    display: block;
  }
  .event-list-item-wrapper .ant-list-item-extra {
    margin: 0;
    align-self: center;
    font-size: 24px;
  }
  .event-list-wrapper .event-list-description-place {
    width: auto;
  }

  .event-list-wrapper .event-list-status-created-by {
    text-align: left;
    width: fit-content;
  }

  .event-list-wrapper .event-list-status-updated-by {
    text-align: left;
    width: fit-content;
  }

  .event-list-wrapper .event-status-list-item-title-container {
    width: fit-content;
  }

  .event-list-wrapper .ant-list-item-action {
    display: none;
  }
}
