.add-event-section-col {
  padding: 24px !important;
  background-color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
}

.add-event-section-col .add-event-section-wrapper {
  padding: 8px !important;
  background-color: #ffffff;
}

.add-event-section-col .add-event-date-wrap {
  font-weight: 700;
  font-size: 24px;
  color: #222732;
  margin-bottom: 24px;
}
.add-event-section-col .title-required:after {
  margin-left: 4px;
  content: '*';
  color: #f43131;
}

.add-event-section-col .side-wrapper-container {
  margin-top: 35%;
}

@media screen and (min-width: 992px) and (max-width: 1067px) {
  .add-event-section-col .side-wrapper-container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 891px) {
  .add-event-section-col .side-wrapper-container {
    margin-top: 0px;
  }
}
