@import '~antd/dist/antd.css';

/* 
  BreakPoints:
    480px
    575px
    768px
    900px
    1024px
*/

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  --primary-white: #ffffff;
  --content-neutral-primary: #222732;
  --content-neutral-secondary: #646d7b;
}

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.005);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd7ff;
  border-radius: 34px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b3de6;
}

@media screen and (max-width: 480px) {
  .ant-pagination {
    display: flex;
    justify-content: center;
  }
}
